* {
    font-family: 'Trebuchet MS', sans-serif;
}

#toda-ava-passada {
    position: fixed;
    margin-left: 50px;
    width: 60%;
    height: auto;
    background-color: #ffffff;
    top: 8px;
}

div#toda-ava-passada div#titulo label {
    position: relative;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    color: #ffffff;
    top: 10px;
    margin-left: 20px;
}

div#titulo {
    position: relative;
    width: 675px;
    height: 44px;
    border-radius: 5px;
    background-color: #c36539;
    margin-left: -58px;
    margin-top: -8px;
    margin-bottom: -17px;
}

table#ava-passada {
    width: 645px;
    height: 120px;
    margin-bottom: -10px;
    margin-top: 19px;
    margin-left: -43px;
    text-align: left;
    font-size: 12pt;
}

table#ava-passada th#quesito {
    background-color: #282829;
    color: #ffffff;
    height:34px;
    border: 1px solid #ffffff;
    padding-left: 8px;
    width: 300px;
    text-align: left;
}

table#ava-passada th#pa {
    background-color: #282829;
    color: #ffffff;
    height:34px;
    border: 1px solid #ffffff;
    width: 47px;
    text-align: center;
}

table#ava-passada th#ab {
    background-color: #282829;
    color: #ffffff;
    height:34px;
    border: 1px solid #ffffff;
    width: 47px;
    text-align: center;
}

table#ava-passada th#pq {
    background-color: #282829;
    color: #ffffff;
    height:34px;
    border: 1px solid #ffffff;
    width: 87px;
    text-align: center;
}

table#ava-passada th#obs {
    background-color: #282829;
    color: #ffffff;
    height:34px;
    border: 1px solid #ffffff;
    padding-left: 8px;
    width: 87px
}

table#ava-passada tr td {
    border: 1px solid #ffffff;
    background-color: #dedede;
    padding-left: 8px;
    height: 30px;
}

table#ava-passada tr td.quesito {
    text-align: left;
}

table#ava-passada tr td.pa, td.ab, td.pq, td.obs {
    text-align: center;
}

table#ava-passada tr td.inativo {
    visibility: hidden;
}


