table#quesitosPorCargo td, table#quesitosPorCargo th{
    position: relative;
    border: 1px solid black;
}

div#infoQuesitos input{
    position: relative;
    margin-right: 600px;
}

p#infoQuesitos {
    position: relative;
    margin-left: 15px;
}

ul {
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}

li {
    position: relative;
    padding: 5px;
    margin: 5px;
    min-width: 150px;
    margin-left: 15px;
    margin-right: -3px;
    color: #282829;
    background-color: #dedede;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

div#infoQuesitos {
    position: relative;
    width: 925px;
}

p#txtQuesito {
    position: relative;
    width: 875px;
    font-weight: normal;
    font-size: 12pt;
}