@charset "UTF-8";
* {
    padding: 0;
    margin: 0;
    border: 0;

}
a {
    text-decoration: none;
}
body {
    background-color: #ffffff;
    font-family: 'Trebuchet MS', sans-serif;
}

/**
 *
 */

div#topo {
    z-index: 20;
    position: fixed;
    width: 100%;
    height: 53px;
    background-color: #c36539;
}

div#central {
    z-index: 0;
    height: 50px;
    width: 1000px;
    margin: auto;
}

img#logo {
    position: relative;
    margin-top: 5px;
}

div#usuario {
    position: relative;
    margin-top: -5px;
    margin-left: 250px;
}

div#imgusuario {
    float: right;
    width: 40px;
    position: relative;
    right: 85px;
    top: -15px;
}

div#imgusuario img.usuario {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-top: -40px;
}

div#usuario a#apelido {
    position: relative;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 1.1em;
    color: #ffffff;
    float: right;
    right: 75px;
    top: -33px;
    border-right: 1px solid #ff9c66;
    padding-right: 15px;
}

div#icons {
    position: relative;
    margin-left: 940px;
    top: -58px;
}

div#icons img#config {
    padding-right: 10px;
}

div#icons img#config:hover {
    cursor: pointer;
}

/*

div#drop-config {
    position: absolute;
    width: auto;
    height: auto;
    z-index: 1000;
    background-color: #545454;
    color: white;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
    padding: 15px;
    visibility: hidden;
    border-radius: 3px;
    margin-left: -6px;
    margin-top: 7px;
}

div#drop-config p {
    position: relative;
    width: 100%;
    height: auto;
    color: white;
    padding-top: 5px;
    padding-bottom: 10px;
    border-bottom: 1px solid #666666;
}

div#drop-config a:hover p:hover {
    position: relative;
    color: #b2b2b2;
    text-decoration: underline;
}

div#drop-config img#seta-cima {
    position: absolute;
    margin-top: -25px;
    margin-left: -5px;
}
*/

div#drop-config {
    position: absolute;
    width: auto;
    height: auto;
    z-index: 1000;
    background-color: #545454;
    color: white;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
    padding: 15px;
    visibility: hidden;
    border-radius: 3px;
    margin-left: -114px;
    margin-top: 7px;
}

div#drop-config p {
    position: relative;
    width: auto;
    padding-top: 5px;
    padding-bottom: 10px;
    color: white;
    border-bottom: 1px solid #666666;
}

div#drop-config p#alterarLogin {
    padding-top: 0;
}

div#drop-config p#permissao1 {
    width: 181px;
}

div#drop-config p#permissao2 {
    width: 133px;
}

div#drop-config p#permissao3 {
    width: 165px;
}

div#drop-config p#permissao4 {
    width: 178px;
}

div#drop-config a:hover p:hover {
    position: relative;
    color: #b2b2b2;
    text-decoration: underline;
    padding-top: 5px;
}

div#drop-config img#seta-cima {
    position: absolute;
    margin-top: -25px;
    margin-left: 103px;
}